doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        div.main-wrapper    
            h1 Contacts Data
            a(href="/update-cobj").button Add to this table
            div.form-wrapper
                table.contact-list
                    thead 
                        tr
                            th Name
                            th Brand
                            th Price
                    tbody
                        each contact in data
                            tr
                                td=contact.properties.bike_name
                                td=contact.properties.bike_brand
                                td=contact.properties.bike_price
          
        