@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body,
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 15px;
  /* text-align: center; */
}
.main-wrapper {
  padding: 20px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  flex-basis: 31%;
  margin: 1rem 0.4rem;
  padding: 1rem 0.4rem 2.5rem 0.4rem;
  border: solid 1px lightgrey;
  border-radius: 15px;
  box-shadow: 3px 2px 6px lightgrey;
}

.card__email {
  font-size: 1rem;
}

.form-wrapper {
  font-size: 18px;
  max-width: 768px;
  /* margin: 2rem auto; */
  padding: 2rem;
  border: solid 1px lightgrey;
  border-radius: 15px;
  box-shadow: 3px 2px 6px lightgrey;
}

label,
input {
  margin-top: 5px;
  display: block;
  font-size: inherit;
}

input[type="text"] {
  padding: 12px;
  width: 45%;
  margin: 0 15px;
}

input[type="email"],
input[type="number"] {
  padding: 12px;
  width: 100%;
  margin: 0 15px;
}

input[type="submit"],
button[type="submit"] {
  /* background-color: lightgrey;
  border: none; */
  /* padding: 0.375rem 1rem; */
  margin: 15px 15px 0 !important;
}

.table-wrapper {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th,
td {
  padding: 14px;
  background: #fff;
  border: 1px solid #ddd;
}

th {
  background: #f2f2f2;
  font-weight: 600;
}
button,
.button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  /* border-width: 0 0 4px; */
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  margin-bottom: 15px;
}
button:hover,
.button:hover {
  filter: brightness(110%);
}
.row {
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}
